@charset 'utf-8';

.global-nav {
  height: 44px;
}
.global-nav-links,
.local-nav-links {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.local-nav {
  height: 52px;
  border-bottom: 1px solid #ddd;
}
.local-nav-links {
  font-size: .8rem;
  a:not(.product-name) {
    margin-left: 2em;
  } 
}
.product-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: auto;
}
